# MariaDB configuration for Plamo Linux
[mysqld]
#port=3306
datadir=/srv/mysql
socket=/run/mysqld/mysqld.sock
log-error=/var/log/mysql/mysqld.log
pid-file=/run/mysqld/mysqld.pid

[client]
#port=3306
socket=/run/mysqld/mysqld.sock